<f:form action="create" object="{newPost}" objectName="newPost" method="POST" additionalAttributes="{role:'form'}">
    <f:flashMessages class="flashmessages" />
    <dl class="tabs" data-tab>
        <dd class="active"><a href="#text">Text</a></dd>
        <dd><a href="#link">Link</a></dd>
    </dl>
    <div class="tabs-content">
        <br />
        <f:render partial="Textfield" arguments="{label: 'Title', property: 'title', object: 'post'}" />
        <f:render partial="Textarea" arguments="{label: 'Description', property: 'description', rows:3}" />
        <div class="content active" id="text">
            <f:render partial="TextareaMarkdown" arguments="{label: 'Content', property: 'content', rows: 10, preview: true, class: 'form-control'}" />
            <f:render partial="Checkbox" arguments="{label: 'Comments', property: 'options.comment'}" />
            <f:render partial="Checkbox" arguments="{label: 'Share', property: 'options.share'}" />
        </div>
        <div class="content" id="link">
            <f:render partial="Textfield" arguments="{label: 'Url', property: 'url'}" />
        </div>
        <f:render partial="Select" arguments="{label: 'Category', property: 'category', properties: categories}" /><br />
        <f:render partial="Tags" arguments="{label: 'Tags', property: 'tags', properties: tags, size: 3}"/><br />
        <div class="row">
            <div class="small-12 columns">
                <f:form.submit value="Create Post" class="button" />
            </div>
        </div>
    </div>
</f:form>