{namespace snippets=Flowpack\Snippets\ViewHelpers}
<section class="gray">
    <div class="row">
        <div class="large-12 columns">
    <h3>{post.title}</h3>

    <h5><f:if condition="{post.author.name.alias}"><i class="fa fa-user fa-fw"></i> <a href="#">{post.author.name.alias}</a></f:if> <i class="fa fa-calendar fa-fw"></i> <f:format.date format="d.m.Y">{post.date}</f:format.date></h5>
        </div>
    </div>
    <f:if condition="{post.url}">
        <div class="row">
            <div class="large-12 columns">
                <p>{post.description}</p>
            </div>
        </div>
    </f:if>

    <div class="row">
        <div class="small-12 columns">
            {post.content -> snippets:parsedown()}
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <hr />
            <h5><i class="fa fa-folder-open"></i> <a href="#">{post.category}</a> | {post.views} views | <i class="fa fa-chevron-up"></i> <i class="fa fa-chevron-down"></i></h5>
            <f:for each="{post.tags}" as="tag">
                <span class="secondary radius label">{tag}</span>
            </f:for>
        </div>
    </div>

    <f:if condition="{post.options.share}">
        <div class="row">
            <div class="small-12 columns">
                <hr />
                <div id="socialshareprivacy"></div>
            </div>
        </div>
    </f:if>
</section>
    <f:if condition="{post.options.comment}">
        <section class="light-gray">
            <div class="row">
                <div class="small-12 columns">
                    <snippets:render partial="Disqus" package="MapSeven.Disqus" />
                </div>
            </div>
        </section>
    </f:if>
