{namespace snippets=Flowpack\Snippets\ViewHelpers}
<section class="gray">
    <div class="row">
        <div class="large-12 columns">
    <h3>{post.title}</h3>
            <f:form action="search" id="search" name="search" controller="search" method="POST" objectName="search">
                <f:form.hidden property="filter.author" id="author" class="jq-hidden" />
                <f:form.hidden property="filter.tags" id="tags" class="jq-hidden" />
                <f:form.hidden property="filter.category" id="category" class="jq-hidden" />
            </f:form>
            <h5> <f:if condition="{post.author.name.alias}"><i class="fa fa-user fa-fw"></i> <a href="#" data-author="{post.author.name.alias -> snippets:strtolower()}">{post.author.name.alias}</a></f:if> <i class="fa fa-calendar fa-fw"></i> <f:translate id="post.date" arguments="{0: post.date}"><![CDATA[{0,datetime,date,short}]]</f:translate></h5>
        </div>
    </div>
    <f:if condition="{post.url}">
        <div class="row">
            <div class="large-12 columns">
                <p>{post.description}</p>
            </div>
        </div>
    </f:if>

    <div class="row">
        <div class="small-12 columns">
            {post.content -> snippets:parsedown()}
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <hr />
            <h5>
                <i class="fa fa-folder-open"></i> <a href="#" data-category="{post.category.name -> snippets:strtolower()}">{post.category.name}</a> | <f:translate id="post.views" arguments="{0: post.views}" quantity="{post.views}"></f:translate> |
                <snippets:security.ifAuthenticated providerName="FrontendProvider">
                    <f:then>
                        <i class="jq-up fa fa-thumbs-up" style="cursor: pointer" data-post="{post -> f:format.identifier()}" data-user="{user -> f:format.identifier()}"></i> <span class="jq-upVotes">{post.numberOfUpVotes}</span>
                        <i class="jq-down fa fa-thumbs-down" style="cursor: pointer"  data-post="{post -> f:format.identifier()}" data-user="{user -> f:format.identifier()}"></i> <span class="jq-downVotes">{post.numberOfDownVotes}</span>
                        <i class="jq-favor fa fa-star{f:if(condition:post.favorite, then: '', else: '-o')}" style="cursor:pointer" data-post="{post -> f:format.identifier()}" data-user="{user -> f:format.identifier()}"></i>
                    </f:then>
                    <f:else>
                        <i class="jq-up fa fa-thumbs-up" style="cursor: pointer"></i> <span class="jq-upVotes">{post.numberOfUpVotes}</span>
                        <i class="jq-down fa fa-thumbs-down" style="cursor: pointer"></i> <span class="jq-downVotes">{post.numberOfDownVotes}</span>
                        <i class="jq-favor fa fa-star{f:if(condition:post.favorite, then: '', else: '-o')}" style="cursor:pointer"></i>
                    </f:else>
                </snippets:security.ifAuthenticated>
            </h5>
            <f:for each="{post.tags}" as="tag">
                <a href="#" data-tags="{tag.name -> snippets:strtolower()}"><span class="secondary radius label">{tag.name}</span></a>
            </f:for>
        </div>
    </div>

    <f:if condition="{post.options.share}">
        <div class="row">
            <div class="small-12 columns">
                <hr />
                <div id="socialshareprivacy"></div>
            </div>
        </div>
    </f:if>
</section>
<f:if condition="{post.options.comment}">
    <section class="white-bg" id="comments">
        <div class="row">
            <div class="small-12 columns">
                <h3><f:translate id="post.comments" arguments="{0: post.numberOfComments}" quantity="{post.numberOfComments}"></f:translate></h3>
                <f:for each="{post.comments}" as="comment" key="flowidentifier" iteration="commentIterator" reverse="TRUE">
                    <div class="row">
                        <div class="small-12 columns">
                            <strong>{comment.author.name.alias} <f:translate id="comment.date" arguments="{0: comment.date}"><![CDATA[{0,datetime,date,long}]]</f:translate></strong> <snippets:ifAuthor user="{comment.author}"><a href="#" data-reveal-id="Modal{flowidentifier}"><i class="fa fa-trash-o fa-fw"></i></a></snippets:ifAuthor>
                            <p><f:format.nl2br>{comment.content}</f:format.nl2br></p>
                            <div id="Modal{flowidentifier}" class="reveal-modal" data-reveal>
                                <h4><f:translate id="comment.delete">Delete Comment</f:translate></h4>
                                <p><f:translate id="comment.delete.request" arguments="{0: comment.content}">Do you really want to delete comment "{0}"?</f:translate></p>
                                <f:form action="delete" controller="comment" arguments="{post: post, comment: comment}">
                                    <button type="submit" title="Delete Comment">
                                        <f:translate id="comment.delete.confirm">Yes, delete the comment</f:translate>
                                    </button>
                                </f:form>
                                <a class="close-reveal-modal">&#215;</a>
                            </div>
                        </div>
                    </div>
                    {f:if(condition:commentIterator.isLast, then: '', else: '<hr/>')}
                </f:for>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <snippets:security.ifAuthenticated providerName="FrontendProvider">
                    <f:then>
                        <h5><f:translate id="comment.reply">Leave a reply</f:translate>:</h5>
                        <f:form action="create" arguments="{post: post}" controller="Comment" object="{newComment}" name="newComment" class="form newcomment" section="comments">
                            <f:render partial="Textarea" arguments="{label: '{f:translate(id: \'form.comment\', value: \'Comment\')}', property: 'content', object: 'comment', rows:3}" />
                            <div class="row">
                                <div class="small-12 columns">
                                    <f:form.submit value="{f:translate(id: 'form.submit.comment', value: 'Add Comment')}" class="button" />
                                </div>
                            </div>
                        </f:form>
                    </f:then>
                    <f:else>
                        <h5><f:translate id="comment.login">Login to add your comment</f:translate>:</h5>
                        <f:render partial="Login" arguments="{arguments: {post: post}}" />
                    </f:else>
                </snippets:security.ifAuthenticated>
            </div>
        </div>
    </section>
</f:if>