<f:form action="search" id="search" name="search" method="POST" object="{search}" objectName="search">
    <div class="row">
        <div class="small-6 columns">
            <div class="row collapse">
                <div class="small-10 columns">
                    <f:form.textfield property="query" id="query" placeholder="search" />
                </div>
                <div class="small-2 columns">
                    <f:form.button value="Search" class="button postfix">Go</f:form.button>
                </div>
            </div>
        </div>
    </div>
    <dl class="accordion" data-accordion>
        <dd>
            <a href="#filter"><i class="fa fa-filter fa-fw"></i> Filter</a>
            <div id="filter" class="active content panel">
                <div class="row">
                    <f:for each="{facets}" key="facetName" as="facet">
                        <div class="small-3 columns">
                            <f:form.select id="{facetName}" property="filter.{facetName}" options="{facet}" prependOptionLabel="- {f:translate(id: facetName)} -" class="select2 small-12" />
                            <script>
                                $("#{facetName}").select2();
                            </script>
                        </div>
                    </f:for>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        <a href="#" class="jq-filter-reset button tiny"><i class="fa fa-times fa-fw"></i> reset all Filter</a>
                    </div>
                </div>

            </div>
        </dd>
    </dl>
    <script>
        $("form").submit(function() {
            $("select").val('');
        });
        $("select").change(function() {
            this.form.submit();
        });
        $(".jq-filter-reset").click(function() {
            $("select").val('');
            $("#search").submit();
        });
    </script>
</f:form>