{namespace snippets=Flowpack\Snippets\ViewHelpers}
<div class="row">
    <div class="small-12 columns">
        <f:form.hidden id="{property}" name="{property}" style="width:300px;" value="{options -> snippets:tags()}" />
        <f:render partial="Errors" arguments="{property: property, object: object}" />
        <script>
            $(document).ready(function () <![CDATA[{]]>
                $("#{property}").select2(<![CDATA[{]]>
                    placeholder: "{label}",
                    createSearchChoice:function(term, data) { if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {return {id:term, text:term};} },
                    multiple: true,
                    data: [
                            <f:for each="{properties}" as="tag" iteration="iterator">
                <![CDATA[{]]>id: "{tag -> f:format.identifier()}", text: "{tag.name}"}{f:if(condition:iterator.isLast, then: '', else: ',')}
            </f:for>
            ],
            tokenSeparators: [",", " "]
            });
            });
        </script>
    </div>
</div>