{namespace snippets=Flowpack\Snippets\ViewHelpers}
<section class="dark-gray">
    <div class="row">
        <div class="small-12 columns">
            <h3>Snippets</h3>
        </div>
    </div>

    <f:form action="search" id="search" name="search" method="POST" object="{search}" objectName="search">

        <f:form.hidden property="currentPage" id="currentpage" class="jq-hidden" />
        <f:form.hidden property="filter.author" id="author" class="jq-hidden" />

        <div class="row">
            <div class="small-6 columns">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <f:form.textfield property="query" id="query" placeholder="{f:translate(id: 'search.placeholder', value: 'search')}" />
                    </div>
                    <div class="small-2 columns">
                        <f:form.button value="Search" class="button postfix"><f:translate id="search.go">Go</f:translate></f:form.button>
                    </div>
                </div>
            </div>
        </div>
        <f:if condition="{totalHits} > 0">
            <div class="row">
                <div class="small-12 columns">
                    <dl class="accordion" data-accordion>
                        <dd>
                            <a href="#filter"><i class="fa fa-filter fa-fw"></i> <f:translate id="search.filter">Filter</f:translate></a>
                            <div id="filter" class="active content panel">
                                <div class="row">
                                    <f:for each="{aggregations}" key="aggregationName" as="aggregation">
                                        <div class="small-3 columns">
                                            <f:form.select id="{aggregationName}" property="filter.{aggregationName}" options="{aggregation}" prependOptionLabel="- {f:translate(id: aggregationName)} -" class="select2 small-12 jq-select" />
                                            <script>
                                                $("#{aggregationName}").select2();
                                            </script>
                                        </div>
                                    </f:for>
                                </div>
                                <div class="row">
                                    <div class="small-3 columns">
                                        <a href="#" class="jq-filter-reset button tiny"><i class="fa fa-times fa-fw"></i> <f:translate id="search.filter.reset">reset all filter</f:translate></a>
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </f:if>
    </f:form>
    <div class="row">
        <div class="small-12 columns">
            <f:if condition="{totalHits} > 0">
                <f:then>
                    <f:translate id="search.show" arguments="{0: first, 1: last, 2: totalHits}">Show {0} - {1} of {2}</f:translate>
                </f:then>
                <f:else>
                    <f:translate id="search.noPosts">No Posts found</f:translate>
                </f:else>
            </f:if>
        </div>
    </div>
</section>
<f:for each="{posts}" key="identifier" as="post" iteration="postIterator">
    <section class="{f:if(condition:postIterator.isEven, then: 'gray', else: 'light-gray')}">
        <div class="row">
            <div class="small-12 columns">
                <h3>
                    <f:if condition="{post.url}">
                        <f:then>
                            <f:link.external uri="{post.url}" target="_blank">{post.title}</f:link.external>
                        </f:then>
                        <f:else>
                            <f:link.action action="show" controller="post" arguments="{post: post}">{post.title}</f:link.action>
                        </f:else>
                    </f:if>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <h5>
                    <f:if condition="{post.author.name.alias}"><i class="fa fa-user fa-fw"></i> <a href="#" data-author="{post.author.name.alias -> snippets:strtolower()}">{post.author.name.alias}</a></f:if>
                    <i class="fa fa-calendar fa-fw"></i> <f:translate id="post.date" arguments="{0: post.date}"><![CDATA[{0,datetime,date,short}]]</f:translate>
                </h5>
            </div>
        </div>

        <f:if condition="{post.description}">
            <div class="row">
                <div class="small-12 columns">
                    <p>{post.description}</p>
                </div>
            </div>
        </f:if>

        <f:if condition="{post.url}">
            <div class="row">
                <div class="small-12 columns">
                    <div class="panel radius">
                        <f:translate id="post.origin">Originally Posted on</f:translate> <f:link.external uri="{post.providerUrl}" target="_blank"><img src="{post.providerIcon}" /> {post.providerName}</f:link.external><br /><br />
                        <f:link.external uri="{post.url}" target="_blank"><i class="fa fa-external-link-square"></i> {post.url}</f:link.external><br /><br />
                        <f:if condition="{post.code}">
                            <f:if condition="{post.code -> snippets:strpos(needle: 'iframe')}">
                                <a href="#" data-reveal-id="Modal-{identifier}" class="label"><f:translate id="post.preview">Preview</f:translate></a>
                                <div id="Modal-{identifier}" class="reveal-modal small" data-reveal>
                                    <h4>{post.title}</h4>
                                    <div class="flex-video">
                                        <f:format.raw>{post.code}</f:format.raw>
                                    </div>
                                    <a class="close-reveal-modal">&#215;</a>
                                </div>
                            </f:if>
                        </f:if>
                    </div>
                </div>
            </div>
        </f:if>

        <div class="row">
            <div class="small-12 columns">
                <h5>
                    <i class="fa fa-folder-open fa-fw"></i>  <a href="#" data-category="{post.category.name -> snippets:strtolower()}">{post.category.name}</a>
                    <f:if condition="{post.content}">
                        | <f:translate id="post.views" arguments="{0: post.views}" quantity="{post.views}"></f:translate> | <f:translate id="post.votes" arguments="{0: post.numberOfVotes}" quantity="{post.numberOfVotes}"></f:translate> <snippets:security.ifAuthenticated providerName="FrontendProvider">| <i class="jq-favorite fa fa-star{f:if(condition:post.favorite, then: '', else: '-o')}"></i></snippets:security.ifAuthenticated>
                    </f:if>
                    <f:if condition="{post.options.comment}">
                        | <f:link.action action="show" controller="post" arguments="{post: post}" section="comments"><f:translate id="post.comments" arguments="{0: post.numberOfComments}" quantity="{post.numberOfComments}"></f:translate></f:link.action>
                    </f:if>
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <f:for each="{post.tags}" as="tag">
                    <a href="#" data-tags="{tag.name -> snippets:strtolower()}"><span class="secondary radius label">{tag.name}</span></a>
                </f:for>
            </div>
        </div>
    </section>
</f:for>
<f:if condition="{pagination.numberOfPages} > 1">
    <section class="light-gray">
        <div class="pagination-centered">
            <ul class="pagination">
                <f:if condition="{pagination.previousPage}">
                    <f:then>
                        <li class="arrow"><a href="#" data-currentPage="{pagination.previousPage}">&laquo;</a></li>
                    </f:then>
                    <f:else>
                        <li class="arrow unavailable"><a href="#">&laquo;</a></li>
                    </f:else>
                </f:if>
                <f:for each="{pagination.pages}" as="page">
                    <f:if condition="{page.isCurrent}">
                        <f:then>
                            <li class="current"><a href="#">{page.number}</a></li>
                        </f:then>
                        <f:else>
                            <li><a href="#" data-currentPage="{page.number}">{page.number}</a></li>
                        </f:else>
                    </f:if>
                </f:for>

                <f:if condition="{pagination.nextPage}">
                    <f:then>
                        <li class="arrow"><a href="#" data-currentPage="{pagination.nextPage}">&raquo;</a></li>
                    </f:then>
                    <f:else>
                        <li class="arrow unavailable"><a href="#">&raquo;</a></li>
                    </f:else>
                </f:if>
            </ul>
        </div>
    </section>
</f:if>

<script>
    //reset all settings when new search is performed
    $("#search").submit(function() {
        var oldValue = "{search.query}";
        var newValue = $("input#query").val();
        if (oldValue != newValue) {
            $("select.jq-select").val('');
            $("input.jq-hidden").val('');
        }
    });
</script>