<f:render partial="SearchField"/>

<f:for each="{posts}" as="post" iteration="postIterator">
    <article>
        <h3>
            <f:if condition="{post.url}">
                <f:then>
                    <f:link.external uri="{post.url}" target="_blank">{post.title}</f:link.external>
                </f:then>
                <f:else>
                    <f:link.action action="show" controller="post" arguments="{post: post}">{post.title}</f:link.action>
                </f:else>
            </f:if>
        </h3>
        <h6>by <a href="#">{post.author.name.alias}</a> on <f:format.date format="d.m.Y - H:i:s">{post.date}</f:format.date></h6>

        <f:if condition="{post.description}">
            <div class="row">
                <div class="large-12 columns">
                    <p>{post.description}</p>
                </div>
            </div>
        </f:if>

        <f:if condition="{post.url}">
            <div class="row">
                <div class="small-12 columns">
                    <f:link.external uri="{post.url}" target="_blank"><i class="fa fa-external-link-square"></i> {post.url}</f:link.external>
                </div>
            </div>
            <br />
        </f:if>

        <div class="row">
            <div class="small-12 columns">
                <h6>Posted in <a href="#">{post.category}</a> | {post.views} views | <i class="fa fa-chevron-up"></i> <i class="fa fa-chevron-down"></i></h6>
                <f:for each="{post.tags}" as="tag">
                    <span class="secondary radius label">{tag}</span>
                </f:for>
            </div>
        </div>
    </article>
    {f:if(condition:postIterator.isLast, then: '', else: '<hr/>')}
</f:for>