pre {
	margin-bottom: 1.25rem;
}

pre code {
    overflow: auto;
}

.gist-file table {
    border: 0;
    margin-bottom: 0;
}

.panel .label {
    margin-bottom: 0;
}

#wmd-button-bar-content button, #wmd-button-bar-content .button {
    margin: 0;
}

.accordion dd > a, .accordion dd > a:hover, .accordion dd > a:focus,
.accordion dd.active > a, .accordion dd.active > a:hover, .accordion dd.active > a:focus {
    background: none;
    padding-left: 0;
}

#filter .button {
    margin: 1.25rem 0 0;
}

[data-role="main"] #wmd-button-bar-content ul li:before,
[data-role="main"] .select2-container ul li:before,
[data-role="main"] form ul li:before,
[data-role="main"] #socialshareprivacy ul li:before,
[data-role="main"] ul.pagination li:before {
    content: '';
}

[data-role="main"] #wmd-button-bar-content ul li {
    padding-left: 1px;
    margin-bottom: 0.5rem;
}

[data-role="main"] ul.pagination li {
    padding-left: 0;
}

textarea {
    height: auto;
}

.accordion .accordion-navigation > a, .accordion dd > a {
    color: #00b5ff;
}

.select2 {
    display: inherit;
}

.select2-container-multi {
    height: 56px;
}

.error .select2-choice, .error .select2-choices {
    background-color: rgba(198, 15, 19, 0.1);
    background-image: none;
    border: 1px solid #c60f13;
}